.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-radius: 4px;
}

.App-header {
    height: 50px;
}

.App-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
}

.navBar {
    color: white;
    background-color: #481565;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.deviceList {
    padding-top: 10px;
}

.userMessage {
    color: #757575;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Device {
    display: flex;
    flex-direction: row;
    align-items: center;

    /* height: 60px; */

    border-radius: 4px;
    box-shadow: 0px 2px 3px 2px #75757560;

    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.Device-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: left;
}

.Device-status {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;

    margin-right: 15px;
    margin-left: 15px;
}

.Device-name {
    flex-grow: 1;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 3px;
    padding: 0;
}

.Device-netInfo {
    flex-grow: 1;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 0;
    font-size: 12px;
    color: #757575;
}

.connected {
    background-color: #00ff00;
}

.disconnected {
    background-color: #ff0000;
}


